/* This file will hold the main styles for your website. */
body {
  color: #fff;
  background-color: #000;
}

a:link,
a:visited {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.navigation li a {
  text-decoration: none;
}

.navigation li a:hover {
  text-decoration: underline;
}

.navigation li a.active {
  font-weight: bolder;
  color: #fff;
}

.navigation .main-menu li a {
  font-size: 200%;
}

.navigation .secondary-menu {
  position: absolute;
  right: 0;
}

.breadcrumb a:hover {
  text-decoration: underline;
}
